{% extends 'base.html' %}
{% block content %}
    <div class="container article">
        <div class="title_block">
            <div class="title">A little bit about Kyrgyzstan</div>
        </div>
        <p>Kyrgyzstan, officially named the Kyrgyz Republic located in the eastern part of Central Asia borders with
            Uzbekistan in the west, with China in the south east, with Kazakhstan in the north and Tajikistan in the
            south. The territory of the country estimates 198.500 sq km with population more than 6 million people.
            There are more than 80 different nationalities living in the country, those of Kyrgyz ethnicity make up 72.6
            %, Uzbeks are 14.5% and Russians- 6.4 %. Main religion confessions in the country are Muslim (75 %), Russian
            Orthodox (20%) and other small different religious confessions (5%). State language is Kyrgyz (a branch of
            Turkic language), Russian is official language which is usually used in business and political affairs.
            National currency of the country is Som (KGS) which was adopted after reaching independence in 1993. Capital
            of Kyrgyzstan is Bishkek city, founded in 1878. It is a political, economic, scientific, administrative,
            historical and cultural center, a place of location for many government offices, diplomatic missions,
            representatives of international organizations.</p>
        <p>
            Kyrgyzstan is referred as a land of Celestial Mountains surrounded by two great mountain ranges Tien-Shan
            and Pamir Alai. With more than 8000 eternal glaciers and 29 peaks over 4000 meters tall its dramatic scenery
            lives up to its name. The climate of the country is dry continental, especially the lower mountain slopes as
            they receive hot desert winds from Kazakhstan and Uzbekistan. Average temperature in the valleys in January
            is -14 ° C and in July is +28 ° C.</p>
        <p>
            Kyrgyzstan's landscape, blessed and bedeviled by a dramatic range of weather conditions and altitudes,
            supports an astoundingly rich diversity of plant and animal life. Coniferous trees such as the Tian-Shan
            white and blue spruces surrounds Kyrgyz mountains and king of the mountains, the graceful, swift snow
            leopard is finely honed to survive in snowbound peaks. Other animals in Kyrgyzstan include Tien-Shan bear,
            the red wolf, deer, mountain goat and mountain sheep. There are different species of birds including
            mountain goose which inhabits in the mountain lakes of Kyrgyzstan.
            In general, one who wish to explore the country will have everlasting memories from picturesque views of the
            nature with crystal clean mountain lakes and powerful mountain rivers, rich flora and fauna, moreover the
            true nomadic lifestyle and hospitable people, all these will expect you during your trip to Kyrgyzstan.</p>
    </div>
{% endblock %}