{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid blog-container">
        <div class="container">
            <div class="blog_tile">
                {{ id.title }}
            </div>
            <div class="blog-text col-md-6 col-xs-12 col-sm-6">
                {{ id.text|safe }}
            </div>
            <div class="blog-images-slider col-md-6 col-sm-6 col-xs-12">
                <div class="main_blog_slider">
                    {% for image in id.slider_images.all %}
                        <div class="main_blog_slider_item"><img src="{{ image.image.url }}" alt=""></div>
                    {% endfor %}
                </div>
                <div class="nav_blog_slider">
                    {% for image in id.slider_images.all %}
                        <div class="nav_slider_item"><img src="{{ image.image.url }}" alt=""></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid social-comment no_padding">
        <div class="container">
            <div class="fb-comments" data-width="100%" data-numposts="5"></div>
        </div>
    </div>
{% endblock %}
{% block FAQ %}{% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/blog.js' %}">
    </script>
{% endblock %}