{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid offices">
        <div class="container">
            <div class="title_block">
                <div class="title fs-32">Contacts</div>
            </div>
            <div class="adress_block">
                <div class="col-md-12 col-sm-12 col-xs-12 bishkek_office">
                    <div class="offices_block">
                        <div class="city_name">
                            Bishkek Office
                        </div>
                        <div class="office_block">
                            <div class="office_number_title">
                                Office #1
                            </div>
                            <ul class="contacts_list">
                                <li>
                                    <div class="left_side_office_info">Address:</div>
                                    <div class="right_side_office_info">9 Manas Street, Bishkek, Kyrgyzstan</div>
                                </li>
                                <li>
                                    <div class="left_side_office_info">Phone:</div>
                                    <div class="right_side_office_info">+996 312 986 585
                                        +996 550 217 617
                                    </div>
                                </li>
                                <li>
                                    <div class="left_side_office_info">WhatsApp:</div>
                                    <div class="right_side_office_info">+996 550 217 617</div>
                                </li>
                                <li>
                                    <div class="left_side_office_info">E-mail:</div>
                                    <div class="right_side_office_info">info@redrock.kg</div>
                                </li>
                                <li>
                                    <div class="left_side_office_info">Booking Department</div>
                                    <div class="right_side_office_info">booking@redrock.kg</div>
                                </li>
                                <li>
                                    <div class="left_side_office_info">Sales Department</div>
                                    <div class="right_side_office_info">sales@redrock.kg</div>
                                </li>
                                <li>
                                    <div class="left_side_office_info">Hours (Mon - Sun):</div>
                                    <div class="right_side_office_info">9 am - 6 pm</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="map_wrapper">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1738.6174433843207!2d74.5881493470013!3d42.87296337312714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec827494e19b7%3A0xdd6cc19ff68481ed!2z0KLRg9GA0LDQs9C10L3RgtGB0YLQstC-INCa0L7Rh9C10LLQvdC40Loua2c!5e0!3m2!1sru!2sru!4v1492088200754"
                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block FAQ %}{% endblock %}