{% extends 'base.html' %}
{% load staticfiles %}
{% load trip_helper %}
{% block content %}
    <div class="container-fluid trip-planner-container">
        <div class="container">
            <div class="title_block">
                <div class="title fs-40">Trip Planner</div>
            </div>
            <form action="" class="get_trip" method="post">
                {% csrf_token %}
                <div class="trip-planner-table">
                    <div class="trip_date">
                        <div class="col-md-5 col-sm-5 col-xs-12 trip_block_describe">
                            <h1 class="trip_block_describe_text">1. Enter the period, when you want to go on tour</h1>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 trip_fill_form">
                            <div class="from">
                                <div class="trip_block_title">From</div>
                                <div class="from_select">
                                    {{ form.check_in }}
                                </div>
                            </div>
                            <div class="until">
                                <div class="trip_block_title">Until</div>
                                <div class="until_select">
                                    {{ form.check_out }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trip_people_counter">
                        <div class="col-md-5 col-sm-5 col-xs-12 trip_block_describe">
                            <h1 class="trip_block_describe_text">2. Please, set the number of people</h1>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 trip_fill_form">
                            <div class="people_counter_form">
                                {{ form.guest_count }}
                            </div>
                        </div>
                    </div>
                    <div class="trip_children_block">
                        <div class="col-md-5 col-sm-5 col-xs-12 trip_block_describe">
                            <h1 class="trip_block_describe_text">3. Are there any children?</h1>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 trip_fill_form">
                            <div class="children_counter">
                                <div class="yes_we_have">
                                    <input type="radio" id="children_count_true">
                                    <label for="children_count_true" class=" " id="children_true">Yes there
                                        is</label>{{ form.children_count }}</div>
                                <div class="no_we_have_not">
                                    <input type="radio" id="children_count_false">
                                    <label for="children_count_false" id="children_false"
                                           class="label_active">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trip_tour_type">
                        <div class="col-md-5 col-sm-5 col-xs-12 trip_block_describe">
                            <h1 class="trip_block_describe_text">4. Choose the type of tour, that you are
                                interested</h1>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 trip_fill_form">
                            <div class="type_of_tour">
                                {{ form.direction }}
                            </div>
                        </div>
                    </div>
                    <div class="trip_category">
                        <div class="col-md-5 col-sm-5 col-xs-12 trip_block_describe">
                            <h1 class="trip_block_describe_text">5. Category of tour</h1>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 trip_fill_form">
                            <div class="tour_category">
                                <div class="luxe">
                                    <label data-link="#luxe_category" class="label_active tour_type" id="luxe_label">
                                        <input type="radio" id="luxe">Luxe
                                    </label>
                                </div>
                                <div class="standart">
                                    <label data-link="#standart_category" class="tour_type" id="standart_label">
                                        <input type="radio" id="standart">Standart
                                    </label>
                                </div>
                                <div class="budget">
                                    <label data-link="#budget_category" class="tour_type" id="budget_label">
                                        <input type="radio" id="budget">Budget
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="choose_category_block">
                    <div class="container hotels_block" id="luxe_category">
                        <div class="title_block">
                            <div class="block_standart_title">
                                Hotels (Luxe)
                            </div>
                            <div class="block_standart_subtitle">Choose the hotel you like</div>
                        </div>
                        <div class="hotels_choose_slider">
                            <div class="hotels_slider" id="lux-hotel-slider">
                                {% for item in lux %}
                                    <div class="hotel_item" id="hotel-{{ item.id }}">
                                        <div class="hotel_image"><img src="




                                                {% if item.image %}{{ item.image.url }}{% else %}{% static 'img/hotel1.png' %}{% endif %}"
                                                                      alt="">
                                            <div class="choose_hotel_effect"><input type="radio">
                                                <div class="choose_this_hotel">Choose hotel</div>
                                                <a href="" target="_blank">About hotel</a></div>
                                        </div>
                                        <div class="hotel_describe_block">
                                            <div class="hotel_name">{{ item.title }}</div>
                                            <div class="hotel_rating">
                                                {% for i in item.rating|get_range:"0" %}
                                                    <i class="fa fa-star"></i>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="luxe_tranport">
                            <div class="title_block">
                                <div class="block_standart_title">
                                    Transport (Luxe)
                                </div>
                                <div class="block_standart_subtitle">Choose your transport</div>
                            </div>
                            <div class="transport_block">
                                {% for item in lux_transport %}
                                    <div class="transport_type">
                                        <input type="radio"><img src="{{ item.image.url }}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="luxe_food">
                            <div class="title_block">
                                <div class="block_standart_title">
                                    Food (Luxe)
                                </div>
                                <div class="block_standart_subtitle">Choose food in hotel</div>
                            </div>
                            <div class="food_block">
                                {% for item in lux_food %}
                                    <div class="food_type">
                                        <label><input type="radio">{{ item.title }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="container standart_hotels_block" id="standart_category">
                        <div class="title_block">
                            <div class="block_standart_title">
                                Hotels (Standart)
                            </div>
                            <div class="block_standart_subtitle">Choose the hotel you like</div>
                        </div>
                        <div class="hotels_choose_slider">
                            <div class="hotels_slider" id="standard-hotel-slider">
                                {% for item in standard %}
                                    <div class="hotel_item" id="hotel-{{ item.id }}">
                                        <div class="hotel_image"><img src="




                                                {% if item.image %}{{ item.image.url }}{% else %}{% static 'img/hotel1.png' %}{% endif %}"
                                                                      alt="">
                                            <div class="choose_hotel_effect"><input type="radio">
                                                <div class="choose_this_hotel">Choose hotel</div>
                                                <a href="" target="_blank">About hotel</a></div>
                                        </div>
                                        <div class="hotel_describe_block">
                                            <div class="hotel_name">{{ item.title }}</div>
                                            <div class="hotel_rating">
                                                {% for i in item.rating|get_range:"0" %}
                                                    <i class="fa fa-star"></i>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="standart_tranport">
                            <div class="title_block">
                                <div class="block_standart_title">
                                    Transport (Standart)
                                </div>
                                <div class="block_standart_subtitle">Choose your transport</div>
                            </div>
                            <div class="transport_block">
                                {% for item in standard_transport %}
                                    <div class="transport_type">
                                        <input type="radio"><img src="{{ item.image.url }}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="standart_food">
                            <div class="title_block">
                                <div class="block_standart_title">
                                    Food (Standart)
                                </div>
                                <div class="block_standart_subtitle">Choose food in hotel</div>
                            </div>
                            <div class="food_block">
                                {% for item in standard_food %}
                                    <div class="food_type">
                                        <label><input type="radio">{{ item.title }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="container budget_hotels_block" id="budget_category">
                        <div class="title_block">
                            <div class="block_standart_title">
                                Hotels (Budget)
                            </div>
                            <div class="block_standart_subtitle">Choose the hotel you like</div>
                        </div>
                        <div class="hotels_choose_slider">
                            <div class="hotels_slider" id="budget-hotel-slider">
                                {% for item in budget %}
                                    <div class="hotel_item" id="hotel-{{ item.id }}">
                                        <div class="hotel_image"><img src="




                                                {% if item.image %}{{ item.image.url }}{% else %}{% static 'img/hotel1.png' %}{% endif %}"
                                                                      alt="">
                                            <div class="choose_hotel_effect"><input type="radio">
                                                <div class="choose_this_hotel">Choose hotel</div>
                                                <a href="" target="_blank">About hotel</a></div>
                                        </div>
                                        <div class="hotel_describe_block">
                                            <div class="hotel_name">{{ item.title }}</div>
                                            <div class="hotel_rating">
                                                {% for i in item.rating|get_range:"0" %}
                                                    <i class="fa fa-star"></i>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="budget_tranport">
                            <div class="title_block">
                                <div class="block_standart_title">
                                    Transport (Budget)
                                </div>
                                <div class="block_standart_subtitle">Choose your transport</div>
                            </div>
                            <div class="transport_block">
                                {% for item in budget_transport %}
                                    <div class="transport_type">
                                        <input type="radio"><img src="{{ item.image.url }}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="budget_food">
                            <div class="title_block">
                                <div class="block_standart_title">
                                    Food (Budget)
                                </div>
                                <div class="block_standart_subtitle">Choose food in hotel</div>
                            </div>
                            <div class="food_block">
                                {% for item in budget_food %}
                                    <div class="food_type">
                                        <label><input type="radio">{{ item.title }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="personal_information">
                    <div class="title_block">
                        <div class="title fs-40">Personal Information</div>
                        <div class="block_standart_subtitle">Please fill out all required information to
                            help us to contact with you
                        </div>
                    </div>
                    <div class="personal_info_block">
                        {{ form.name }}{{ form.email }}{{ form.country }}{{ form.phone }}
                        {{ form.text }}
                    </div>
                    <button type="submit" class="callback save_my_trips">Save my trip</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <script src="{% static 'js/trip-planner.js' %}">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            var fromDay = $("#from_day");
            var untilDay = $("#until_day");
            $(fromDay).datepicker({dateFormat: 'dd-mm-yy'});
            $(untilDay).datepicker({dateFormat: 'dd-mm-yy'});

            var filter_trigger = $('#id_direction');
            $(filter_trigger).on('change', function (event) {
                event.preventDefault();
                var value = $(this).val();
                $('.hotel_item').remove();
                $('.hotels_slider').slick('unslick');
                $.ajax({
                    method: 'POST',
                    dataType: 'JSON',
                    url: '{% url 'get_hotels_by_direction' %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'direction': value},
                    success: function (response) {
                        var luxSlider = $('#lux-hotel-slider'),
                            standardSlider = $('#standard-hotel-slider'),
                            budgetSlider = $('#budget-hotel-slider');
                        $(luxSlider).html(response.lux);
                        $(standardSlider).html(response.standard);
                        $(budgetSlider).html(response.budget);
                        initSlickSlider(luxSlider);
                        initSlickSlider(standardSlider);
                        initSlickSlider(budgetSlider);
                    },
                    error: function () {
                        console.error('Can\'t send request');
                    }
                });
            });
        });
        function initSlickSlider(obj) {
            $(obj).slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                nextArrow: '<button type="button" class="next_hotel"></button>',
                prevArrow: '<button type="button" class="prev_hotel"></button>',
                centerMode: false,
                infinite: false,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            slidesToShow: 1
                        }
                    }
                ]
            });
        }
    </script>
{% endblock %}